# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
Tests/Pods
Tests/AFNetworking Tests.xcodeproj/xcshareddata/xcschemes/
数据包/通讯.txt
数据包/通讯2.txt

*.xcuserstate

SOAPDemo/SOAPDemo.xcodeproj/project.xcworkspace/xcuserdata/ccnyou.xcuserdatad/UserInterfaceState.xcuserstate
